* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
   background-color: gray;
  }

  
  
  .wrapper {
    display: flex;
    margin: 0 auto;
    width: 1280px;
    justify-content: space-between;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

 
  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    width: 40%;
    font-family: Georgia;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 0.12rem;
    line-height: 110%;
    letter-spacing: 0.054em;
    color: black;
  }
  
  .photo {
    width: 20%;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid black; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  footer {
   
    margin-top: 20px;
   
  }

  .footer_content {
    display: flex;
    flex-direction: column;
  }
  
  .mail {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .personal_information {
    background-color:gray;
  }

  .experience {
    background-color:gray;
  }

  .level {
    background-color:gray;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:sandybrown;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
  }

  a {
    margin-bottom: 10px;
  }